<form>
    <div class="field">
        <div class="field-body">
            <div class="field">
                <input type="number" placeholder="Betrag" class="amount-input" />
            </div>

            <div class="field">
                <input type="text" placeholder="Beschreibung" class="description-input" />
            </div>

            <div class="field">
                <button class="add-button" disabled="true"> Hinzufügen</button>
            </div>
        </div>
    </div>
</form>