@import '../../../styles.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
        .x-icon-btn {
            transform: scale(1);
            opacity: 1;
        }
    }

    .x-icon-btn {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        top: -8px;
        right: -8px;
        background-color: $dark;
        background-image: url('../../../assets/img/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(0);
        opacity: 0;
        transition: opactiy 225ms ease-out, transform 225ms ease-out;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.2);
        }
    }
}

.budget-item {
    display: flex;
    width: 100%;
    background-color: $light-grey;
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 225ms ease-out;

    &:hover {
        background-color: darken($light-grey, 2%);
    }

    p {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .description {
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;
    }

    .amount {
        padding: 6px;
        border-radius: 3px;
    }
}

.expense {
    p {
        color: $red;
    }

    .amount {
        background-color: $light-red;
    }
}

.income {
    p {
        color: $green;
    }

    .amount {
        background-color: $light-green;
    }
}